body {
    background-color: #fffdd0; /* Mild grå som grunnfarge */
    color: #000; /* Mørk grå for tekst, gir god lesbarhet */
    font-family: Arial, sans-serif; /* Moderne, lettleselig skrifttype */
}

header {
    background-color: #f8f8f8;
    border-radius: 8px; /* Legger til runde hjørner */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtil skygge for å løfte headeren */
    display: flex;
    flex-direction: column;
    align-items: center; /* Sentrerer innholdet horisontalt */
}

main, footer, section {
    margin: 10px;
    border-radius: 8px;
}

nav {
    width: 100%;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

#produkter {
    text-align: center;
    margin-top: 20px;
}

#produkter h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#produkter p {
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tre kolonner */
    gap: 20px; /* Mellomrom mellom produkter */
}

.product-grid article {
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-grid article img {
    width: 100%;
    height: auto;
}

.product-grid article h3 {
    margin: 10px 0;
}

.product-grid article p {
    color: #555;
}

.product-grid .rating {
    color: #f80;
    font-size: 1em;
}

@media (max-width: 768px) {
    .article {
        flex: 1 1 100%; /* På små skjermer tar hver artikkel full bredde */
    }
}

.product-images {
    text-align: left; /* Sentrerer bildene */
    margin-top: 0px;
}

.main-image {
    width: 100%; /* Gjør hovedbildet responsivt */
    max-width: 600px; /* Setter maksimal bredde for hovedbildet */
    height: auto; /* Bevarer proporsjoner */
    display: flex; /* Sørger for at bildet vises som en blokk */
    margin: 0 auto 20px; /* Sentrerer bildet og legger til margin under */
}

.thumbnail {
    width: 160px; /* Setter fast bredde for thumbnails */
    height: auto; /* Bevarer proporsjoner */
    display: inline-block; /* Viser thumbnails på samme linje */
    margin: 0 10px; /* Legger til margin mellom thumbnails */
}

.thumbnail img {
    width: 160px; /* Setter maksimal bredde for thumbnails */
    height: auto; /* Bevarer proporsjoner */
}

.product-images img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

.product-details {
    background: #fff;
    margin-top: 20px;
    padding: 1%;
}

.product-details h1 {
    color: #000;
}

.details {
    margin-top: 20px;
    display: block;
    overflow: hidden; /* Hindrer innholdet i å flyte utenfor */
}

.details summary {
    font-weight: bold;
    cursor: pointer;
}

.details p, .details table {
    background: #f9f9f9;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

details {
    margin-bottom: 10px; /* Gir litt plass mellom hver detaljseksjon */
}

summary {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px; /* Litt plass under overskriften */
}

@keyframes smooth {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.category-item {
    display: inline-block;
    position: relative;
    width: 200px;
    margin: 10px;
}

.category-item img {
    width: 100%;
    height: auto;
    display: block;
}

.category-item figcaption {
    position: absolute;
    bottom: 10px; /* Juster dette etter behov */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Delvis gjennomsiktig svart bakgrunn */
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#anmeldelser {
    text-align: center;
    margin-top: 10px;
    background: #f9f9f9; /* Lys bakgrunnsfarge for å skille seksjonen fra andre deler */
}

#anmeldelser h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#anmeldelser p {
    margin-bottom: 20px;
}

.reviews, .similar-products {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff; /* Lys bakgrunn for å skille anmeldelsene fra resten av innholdet */
    height: fit-content;
}

.review, .similar-product {
    background: #f8e4e4;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 300px;
    height: fit-content;
}

.review-image {
    float: left; /* Plasserer bildet til venstre for teksten */
    margin-right: 10px; /* Gir litt plass mellom bildet og teksten */
    width: 50px; /* Fast størrelse for profilbildene */
    height: 50px; /* Fast størrelse for profilbildene */
    border-radius: 50%; /* Gjør bildene sirkulære */
}

.review p {
    margin: 0; /* Fjerner standardmarg */
    padding-top: 5px; /* Litt plass på toppen av hver paragraf */
}

.review-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tre kolonner */
    gap: 20px; /* Mellomrom mellom anmeldelser */
}

.review-grid article {
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    align-content: center;
}

.review-grid article img {
    width: 20%; /* Full bredde for å matche bildene i produktseksjonen */
    height: auto;
    margin-bottom: 10px; /* Plass under bildet */
    align-content: center;
}

.review-grid article h3 {
    margin: 5px 0;
    color: #333; /* Mørkere tekstfarge for bedre lesbarhet */
}

.review-grid article p {
    color: #555;
    font-size: 0.9em; /* Litt mindre tekststørrelse for detaljer */
}

.review-grid .rating {
    color: #f80; /* Oransje farge for stjerner */
    font-size: 1.2em; /* Større skriftstørrelse for rating */
    margin-bottom: 5px; /* Plass under rating før anmeldelsestekst */
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Sentrerer søkefeltet horisontalt */
    margin-top: 1rem;
}

form input, form button {
    padding: 0.3rem;
    border: 1px solid #ddd;
    font-size: 16px; /* Ensartet skriftstørrelse */
}

form input {
    border-radius: 4px 0 0 4px;
    width: 200px;
}

form button {
    border-radius: 0 4px 4px 0;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

form label {
    grid-column: span 1;
}

form input, form select, form button {
    display: grid;
    gap: 1rem;
}

form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

form button[type="reset"] {
    background-color: #f8f8f8;
    color: #333;
    border: 1px solid #ddd;
}
form .form-row {
    flex-basis: 100%;
}

input#adresse {
    width: 450px;
}

.levering-info {
    display: block;
    font-size: 0.8rem;
    color: #000000; /* Endret     farge for bedre synlighet */
    padding: 20px;
}

section.review-grid {
    background-color: #fffdd0;
}

section#anmeldelser {
    background-color: #fffdd0;
}
section.levering form {
    display: flex;
    flex-direction: column;
}

section.levering label {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

section.levering .levering-info {
    color: #000000; /* Endret farge for bedre synlighet */
    margin-top: 5px;
}

section.betaling form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

section.betaling label {
    grid-column: span 1;
}

section.betaling input {
    grid-column: span 1;
    margin-left: -500px;
    width: 66%;
}

section.betaling form button.full-width {
    grid-column: span 2;
    margin-top: 1rem;
    text-align: center;
}

section.betaling form p {
    grid-column: span 2;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

section.betaling .checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

section.betaling .checkbox-group label {
    display: flex;
    align-items: center;
}

section.betaling .checkbox-group input[type="checkbox"] {
    margin-right: 0.5rem;
    display: flex;
}

.icon {
    width: 70px; 
    height: 70px; 
    object-fit: contain; 
    max-width: 100%; 
    max-height: 100%; 
    display: inline-block; 
}

.skip-to-content {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
}

.skip-to-content:focus {
    top: 0;
}

a:hover, button:hover {
    opacity: 0.8;
}

.hopp-til-toppen {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: none;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slides {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.slides article {
    scroll-snap-align: start;
    flex: 0 0 100%;
    box-sizing: border-box;
}

.slides img {
    width: 100%;
    display: block;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%; /* Runde knapper */
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

@media (max-width: 768px) {
    .slider {
        display: none; 
    }

    main {
        flex-direction: column;
        padding: 1rem;
    }

    form {
        grid-template-columns: 1fr;
    }

    section.betaling form {
        grid-template-columns: 1fr;
    }

    section.betaling label, section.betaling input, section.betaling p {
        grid-column: span 1;
    }
}

footer {
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer section {
    flex: 1;
    margin: 1rem;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 0.5rem 0;
}

footer a {
    text-decoration: none;
    color: #333;
}

footer img {
    max-width: 200px;
    max-height: 150px;
}

.hopp-til-toppen:focus, .hopp-til-toppen:hover {
    background-color: #555;
}

@media (min-width: 768px) {
    .hopp-til-toppen {
        display: block;
    }
}

/* Spesifikke stiler for checkout-siden */
.personopplysninger form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.personopplysninger .form-row {
    grid-column: span 1;
}

.personopplysninger .form-row.full-width {
    grid-column: span 2;
}

.personopplysninger form button.full-width {
    grid-column: span 2;
    margin-top: 1rem;
    text-align: center;
}

.levering form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input#utløpsdato {
    width: 100px;
}
input#cvc {
    width: 100px;
}

section.betaling .checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    flex-direction: column;
}

section.betaling .checkbox-group label {
    display: flex;
    align-items: center;
}

section.betaling .checkbox-group input[type="checkbox"] {
    margin-right: 0.5rem;
}
#checkboxtext input {
    margin-left: -200px;
} 
